
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family: "Inter"; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* font-family: "Newsreader"
font-weight: 500; */

/* violet
color: 9003FF */

* {
    background-color: rgb(6, 6, 6);
}

.titres {
    font-family: "Newsreader", light;
    font-style: light;
    font-weight: 300;
    font-size: 4rem;
    color: white; 
}

.genres {
    font-family: "Newsreader";
    font-weight: 300;
    font-size: 1.8rem;
    color: white; 
}

.titres2 {
    font-family: "Newsreader";
    font-weight: 300;
    font-size: 2.4rem;
    color: white; 
}

.signin {
    font-family: "Newsreader";
    font-weight: 200;
    font-size: 2rem;
    color: white; 
}

.texte {
    font-family: "Newsreader";
    font-weight: 200;
    font-size: 1.3rem;
    color: white; 
}

.titreside {
    font-family: "Inter";
    font-weight: 300;
    font-size: 1.1rem;
    color: white; 
}

.overview {
    font-family: "Inter";
    font-weight: 300;
    font-size: 1rem;
    color: white; 
}
